body{
padding:0;
margin:0;
transform: scaleX(.9);
}
  
:root{
	--widthInput: 100%;
	--mgInput: .2em;
	--pdInput: .5em;
	--ta: center;
	--fontF: verdana;
	--fontS: 18px;
	--borderR: 8px;
}
.titlePage{
	font-family: arial;
	text-align: center;
	color: #777;
}
.form__notes{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em 0 1em;
}
.note__title{
 	margin: var(--mgInput);
 	width: var(--widthInput);
 	padding: var(--pdInput);
 	text-align: var(--ta);
	font-size: var(--fontS);
	font-family: var(--fontF);
	border-radius: var(--borderR);
	border: 0px solid grey;
	background-color: #ddd;
} 
.note__description{
	text-align: var(--ta);
 	margin: var(--mgInput);
 	width: var(--widthInput);
 	padding: var(--pdInput);
 	font-family: var(--fontF);
	font-size: var(--fontS);
	border-radius: var(--borderR);
	border: 0px solid grey;
	background-color: #ddd;
	height: 100px;
	word-wrap: wrap;
}
.btn__send{
	font-family: sans-serif;
	width: 200px;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	font-size: var(--fontS);
	border-radius: 5px;
	border: 0px solid grey;
	background-color: blue;
	color: white;
	margin-top: 1em;
	transition: .8s;

}
.btn__send:hover{
	opacity: .6;
	transition: .8s;
	cursor: pointer;
}
.elementContainer{
	 width: 90vw;
	border: 1px solid red;
 
	padding: .2em;
}
.titleCard{
	font-family: sans-serif;
	text-align: center;
	word-break: break-all;
	border-bottom: 1px solid #444;
	color: orange;
	margin: .2em 0 1em  0;
	padding: .3em 0 .3em 0;
}
.descriptionCard{
	font-family: arial;
	text-align: center;
	word-break: break-all;
	color: #bbb;
	margin: -.4em .3em .4em .3em;
}
.elementContainer{
	background-color: #222;
	border-radius: 6px;
	border:0;
	margin: .5em .5em .5em -.3em;
	width: 100%;
	transform: scale(.9);

 
}
.elementContainer:hover{
	transform: scale(1);
}
.cards{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: .5em;
	padding: .5em;
}
.validate{
	text-align: center;
	background-color: green;
	margin: 0;
	padding:.3em;
	color: #ddd;
	font-family: arial;
	font-size: 18px;
	border-radius: 6px;
}

hr{
	color: #fff;
} 

.deleteWindow{
	text-align: center;
	background-color: red;
	padding: var(--pdInput);
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 600;
}
.button1Delete , .button2Cancel{
	font-size: 17px;
	border: 0;
	border-radius: 4px;
	margin: 0 .8em 0 .8em;
	padding: .2em 1em .2em 1em;
	background-color: blue;
	color: white;
	transition: 3s;
}
.button1Delete:hover , 
.button2Cancel:hover {
	transform: scale(.9);
	transition: .8s;
}

.button1Delete:hover , 
.button2Cancel:hover ,
.elementContainer:hover{
	transition: 1s;
	opacity: .8;
	cursor: pointer
 }

.button2Cancel{
	font-weight: 700;
	background-color: orange;
}
.messageExit{
	background-color: green;
	color:white;
	font-family: sans-serif;
	text-align: center;
	padding: .4em;
	border-radius: 5px;
	word-spacing: .8px;
	font-weight: 700;
	 width: 100%;
	 font-size: 19px;
 
}












