body{
padding:0;
margin:0;
transform: scaleX(.9);
 
}

:root{
	--widthInput: 100%;
	--mgInput: .2em;
	--pdInput: .5em;
	--ta: center;
	--fontF: sans-serif;
	--fontS: 20px;
	--borderR: 8px;
}
.containerTitlePage{
	margin-top: -1.3em;
}
.titlePage{
	font-family: arial;
	text-align: center;
	color: #777;
	font-size: 30px;
	color: white;
}
.titlePage:hover{
	cursor: pointer;
}
.fa-book{
	color: white;
	font-size: 23px;
}
.form__notes{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em 0 1em;
}
.note__title{
 	margin: var(--mgInput);
 	width: var(--widthInput);
 	padding: var(--pdInput);
 	text-align: var(--ta);
	font-size: var(--fontS);
	font-family: 'Aleo', serif;
	border-radius: var(--borderR);
	border: 0px solid grey;
	background-color: #ddd;
	letter-spacing: .8px;
	color: #222;
	font-weight: 700;
	transition: opacity .8s;
}

.note__description{
	text-align: var(--ta);
 	margin: var(--mgInput);
 	width: var(--widthInput);
 	padding: var(--pdInput);
 	font-family: 'Aleo', serif;
	font-size: var(--fontS);
	border-radius: var(--borderR);
	border: 0px solid grey;
	background-color: #ddd;
	height: 100px;
	word-wrap: wrap;
	letter-spacing: .6px;
	color: #222;
	transition: opacity .8s;
	resize: none;
}
.note__description:hover, .note__title:hover {
	opacity: .6;
}
.btn__send{
	font-family: sans-serif;
	width: 200px;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	font-size: var(--fontS);
	border-radius: 5px;
	border: 1.5px solid blue;
	background-color: blue;
	color: white;
	margin-top: 1em;
	transition: .8s;

}
.btn__send:hover{

	opacity: .6;
	transition: .8s;
	cursor: pointer;
	border: 1.5px solid #ec9b21;
	background-color: white;

}
.btn__send:hover .fa-paper-plane{
	color: blue;
}
.elementContainer{

	 width: 90vw;
     border: 1px solid red;
	 padding: .2em;

}
.titleCard{
	font-family: sans-serif;
	text-align: center;
	word-break: break-all;
	border-bottom: 1px solid #444;
	color: orange;
	font-size: 18px;
	margin: .2em 0 1em  0;
	padding: .3em 0 .3em 0;
	font-family: 'Aleo', serif;
	letter-spacing: .9px;
}
.descriptionCard{
	font-family: arial;
	text-align: center;
	word-break: break-all;
	color: #bbb;
	margin: -.4em .3em .4em .3em;
	letter-spacing: .2px;
}
.elementContainer{

	background-color: #222;
	border-radius: 6px;
	border:0;
	margin: .5em .5em .5em -.3em;
	width: 100%;
	transform: scale(.9);
	transition:3s 1s;

}
.elementContainer:hover{
	transform: scale(1);
	box-shadow: 1px 1px 3px 5px grey;
	font-size: 1.4em;
	background-color: black;
	transition:3s;
}
.elementContainer:hover .titleCard{
	/*transition:3s 1s;*/
	font-size: 1.3em;
}
.elementContainer:hover .descriptionCard{
	/*transition:3s 1s;*/
	color: white;
}
 
.cards{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: .5em;
	padding: .5em;
}
.validate{
	text-align: center;
	border: 0;
	margin: 0;
	padding:.7em;
	margin-bottom: 1em;
	background-color: #222;
	color: #ddd;
	font-family: arial;
	font-size: 19px;
	border-radius: 6px;
	position: sticky;
	top: 0;
	z-index: 400;
}

hr{
	color: #fff;
}

.deleteWindow{
	text-align: center;
	border: 0;
	padding: var(--pdInput);
	background-color: #222;
	border-radius: 8px;
	color: #ddd;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 600;
	position: sticky;
	top: 0;
	z-index: 200;
	margin-bottom: -1em;
}
.button1Delete , .button2Cancel{
	font-size: 17px;
	border: 0;
	border-radius: 4px;
	margin: 0 .8em 0 .8em;
	padding: .2em 1em .2em 1em;
	background-color: blue;
	color: white;
	transition: 3s;
    margin-top: .3em;
}
.button1Delete:hover ,
.button2Cancel:hover {
	transform: scale(.9);
	transition: .8s;
	transition: 1s;
	opacity: .9;
	cursor: pointer
}
 

.button2Cancel{
	font-weight: 700;
	background-color: red;
}
.messageExit{
	position: sticky;
	top:0;
	z-index: 600;
	border: 0;
	color: #ddd;
	font-family: sans-serif;
	text-align: center;
	padding-top: .8em;
	padding-bottom: .8em;
	border-radius: 5px;
	word-spacing: .8px;
	font-weight: 700;
	width: 100%;
	font-size: 19px;
	background-color: #222;
	margin: 0;
}

.load{
	animation:load 1s linear;
	transition:1s;
	font-size: 20px;

}
@keyframes load{
	to{
		transform: rotate(60deg);
		transition:1s;
	}
}
.containerTitlePage{
	position: sticky;
	top: 0;
	background-color: orange;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	z-index: 100;
	opacity: .9;
	margin-top: -1.3em;
	transition: opacity .8s;
}
.containerTitlePage:hover {
	background-color: #ec9b21;
	opacity: .6;
}
.fa-folder-open{ transition: 3s; }
.fa-folder-open:hover{ color: orangered;transition: .3s; }
.fa-plane-warning {color: red;}
.fa-plane {color: red;}
.fa-check-circle{
	background-color: blue;
	border-radius: 50%;
	color: white;
 }
 .opacity{
 	transition: 0;
 	opacity: .7;
 }
 